---
layout: default
---


<div class="home">

  <h1 class="page-heading">My LiveBlog, via MatrixLive</h1>
  
  {{ content }}

  <matrix-live homeserver="https://matrix.org"
             room="!LWntBQsMVYDKoHnoXK:matrix.org"
             initial-load="60"></matrix-live>
  <!--
	<ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>
  -->
</div>
